/.venv
/downloaded_files
/HW5_Parsing_Tos.ipynb
/my_perekrestok_profile
/names.txt
/perek_new.ipynb
/seminar_flask.py
/sorbet_perek.csv
/sorbet_vv.csv
/templates
/top15perek.csv
/top15vv.csv
/tsg
/ves_per.csv
/ves_vv.csv
/vv_parsing.ipynb
/__pycache__
/малина_личи_в_нише.csv
perekrestok.html
